:root {
  --font-size: 14.5px;
  --light-blue: rgb(18, 133, 123);
  --dark-blue: rgb(2, 30, 66);
}

* {
  font-family: sans-serif;
}

.timeline-page-wrapper {
  width: 950px;
  margin: auto;
  position: relative;
}

.timeline-page-header {
  display: flex;
  background-color: var(--light-blue);
  padding: 0 40px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.timeline-page-title {
  color: white;
  font-weight: normal;
  font-size: 45px;
}

.timeline-page-subheader {
  display: flex;
  background-color: var(--dark-blue);
  height: 100px;
  justify-content: center;
  align-items: center;
}

.timeline-page-subtitle {
  color: white;
  font-weight: normal;
  font-size: 19.5px;
  margin: 0;
}

.timeline-main-img-wrapper {
  width: 800px;
  position: relative;
  margin: 0px auto 0px auto;
}

.timeline-main-img {
  display: block;
  width: 100%;
  margin: auto;
}

.timeline-intro {
  position: absolute;
  top: 30px;
  width: 44%;
  font-size: 18px;
}

/* Text wrapper base styles */
.timeline-text-wrapper {
  position: absolute;
  width: 52%;
  /* opacity: 0.15; */
  transition-duration: 0.3s;
}

.timeline-text-wrapper.left {
  left: 95px;
}

.timeline-text-wrapper.right {
  left: 300px;
}

.timeline-text-title {
  color: var(--light-blue);
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
}

.timeline-text-body {
  font-size: var(--font-size);
  margin-top: 10px;
  margin-bottom: 0;
}

.timeline-dual-month {
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* -----------------*/

/* Text wrapper positioning */
.timeline-text-wrapper.forties-text {
  top: 510px;
}

.timeline-text-wrapper.fifties-text {
  top: 745px;
}

.timeline-text-wrapper.seventies-text {
  top: 995px;
}

.timeline-text-wrapper.nine-text {
  top: 1240px;
  margin-bottom: 0;
}

.timeline-text-body.nine {
  margin-bottom: 0;
  columns: 2;
}

.timeline-text-wrapper.seventeen-text {
  top: 1520px;
}

.timeline-small-text {
  font-size: 12px;
}

.timeline-text-wrapper.eightteen-text {
  top: 1920px;
}

.timeline-text-wrapper.nineteen-text {
  top: 2395px;
}

.timeline-text-wrapper.twenty-text {
  top: 2720px;
}

.timeline-text-wrapper.twentyone-text {
  top: 3040px;
}
/* -----------------*/

/* Date hover link general styles */
.timeline-map-link {
  width: 165px;
  height: 165px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  left: 89px;
  width: 76%;
}

/* .timeline-map-link.left-link {
  left: 100px;
}

.timeline-map-link.right-link {
  left: 525px;
} */
/* -----------------*/

/* Date hover link individual styles */
.timeline-map-link.forties {
  top: 485px;
}

.timeline-map-link.forties:hover + .timeline-text-wrapper.forties-text {
  opacity: 1;
}

.timeline-map-link.fifties {
  top: 745px;
}

.timeline-map-link.fifties:hover + .timeline-text-wrapper.fifties-text {
  opacity: 1;
}

.timeline-map-link.seventies {
  top: 990px;
  height: 190px;
}

.timeline-map-link.seventies:hover + .timeline-text-wrapper.seventies-text {
  opacity: 1;
}

.timeline-map-link.nine {
  top: 1240px;
  height: 234px;
}

.timeline-map-link.nine:hover + .timeline-text-wrapper.nine-text {
  opacity: 1;
}

.timeline-map-link.seventeen {
  top: 1535px;
  height: 335px;
}

.timeline-map-link.seventeen:hover + .timeline-text-wrapper.seventeen-text {
  opacity: 1;
}

.timeline-map-link.eightteen {
  top: 1921px;
  left: 84px;
  height: 424px;
}

.timeline-map-link.eightteen:hover + .timeline-text-wrapper.eightteen-text {
  opacity: 1;
}

.timeline-map-link.nineteen {
  top: 2405px;
  height: 261px;
}

.timeline-map-link.nineteen:hover + .timeline-text-wrapper.nineteen-text {
  opacity: 1;
}

.timeline-map-link.twenty {
  top: 2718px;
  height: 278px;
}

.timeline-map-link.twenty:hover + .timeline-text-wrapper.twenty-text {
  opacity: 1;
}

.timeline-map-link.twentyone {
  top: 3045px;
  height: 423px;
}

.timeline-map-link.twentyone:hover + .timeline-text-wrapper.twentyone-text {
  opacity: 1;
}
/* -----------------*/

/* Text overlay general styles */
.timeline-overlay {
  width: 683px;
  position: absolute;
  opacity: 0.8;
  z-index: 10;
  background-color: white;
}

.timeline-overlay.left-overlay {
  left: -687px;
}
/* -----------------*/

/* Text overlay individual styles */
.timeline-overlay.forties-overlay {
  height: 260px;
}
/* -----------------*/

/* Dual column text wrapper */
.dual-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* -----------------*/

/* Footer */
.timeline-dark-blue-bar {
  padding: 30px 40px;
  background-color: var(--dark-blue);
  color: white;
}

.dark-blue-bar-title {
  font-size: 28px;
  font-weight: bold;
}

.dark-blue-bar-para {
  font-size: var(--font-size);
}

.timeline-bottom-text {
  width: 60%;
  font-size: 18px;
  position: absolute;
  top: 3680px;
  left: 35%;
}

.timeline-page-footer {
  width: 100%;
  margin-top: -150px;
}
/* -----------------*/

@media only screen and (max-width: 950px) {
  .timeline-page-wrapper {
    width: 100%;
  }

  .timeline-page-subheader {
    text-align: center;
  }
}
